//$include-default-icons: false;
@import 'sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet; 
//@include sencha-picker;
//@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-carousel;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
//@include sencha-sheet;
@include sencha-loading-spinner;

@include pictos-iconmask(doc_list);
@include pictos-iconmask(settings3);
@include pictos-iconmask(mesh);
@include pictos-iconmask(run);

@include pictos-iconmask(refresh5);
@include pictos-iconmask(unselect);
@include pictos-iconmask(trash);
@include pictos-iconmask(undo);
@include pictos-iconmask(redo);
@include pictos-iconmask(save);
@include pictos-iconmask(open);
@include pictos-iconmask(log);
@include pictos-iconmask(move);
@include pictos-iconmask(contract);
@include pictos-iconmask(monitor1);
@include pictos-iconmask(look);


@include pictos-iconmask(draw);
@include pictos-iconmask(select);
@include pictos-iconmask(load);
@include pictos-iconmask(cube);
@include pictos-iconmask(ButtonFFW);
@include pictos-iconmask(ButtonStop);
@include pictos-iconmask(ButtonRemove);
@include pictos-iconmask(ButtonPause);
// @include pictos-iconmask(animation);
// @include pictos-iconmask(inspector);
@include pictos-iconmask(look);
@include pictos-iconmask(play_black2);
@include pictos-iconmask(cube);
// @include pictos-iconmask(pause);
// @include pictos-iconmask(cube);
// @include pictos-iconmask(cube);

.x-button{
  cursor: pointer
}
.x-button-label{
  font-weight: normal
}

.card .x-panel-body {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: rgba(0,0,0,.4);
    text-shadow: rgba(255,255,255,.2) 0 1px 0;
    background-color: #ccc;
    padding: 1em 5%;
}

.card1 .x-panel-body {
    background-color: #eee;
}
.card2 .x-panel-body {
    background-color: #5E99CC;
}
.card3 .x-panel-body {
    background-color: #759E60;
}
.card4 .x-panel-body {
    background-color: #9C744F;
}
.card5 .x-panel-body {
    background-color: #926D9C;
}
.card6 .x-panel-body {
    background-color: #333;
}

.card4 .x-panel-body, .card5 .x-panel-body, .card6 .x-panel-body {
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px;
}
